<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Save Ngrok URL</title>
  </head>
  <body>
    <form method="POST" action="/ngrok">
      <h1>Save callback url</h1>
      <label for="url">URL:</label>
      <input type="text" id="url" name="url">
      <button type="submit">Save</button>
    </form>
  </body>
</html>
